
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Maven+Pro&display=swap');
body {
  display: flex;
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'Bebas Neue', cursive;
font-family: 'Maven Pro', sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #222;
  background-image: url("https://source.unsplash.com/1600x900/?nature,water");
}
.card {
  background-color: #000000d0;
  color: white;
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 43px;
    width: 52px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    /* font-family: 'Bebas Neue', cursive; */
}
button:hover{
    background: wheat;
}
input{
    border:none;
    outline: none;
    width: 100%;
    padding: 8px;
    border-radius: 24px;
    background: #7c7c7c2b;
    font-size: 120%;
    color: white;
}
.temp{
    margin: 5px;
    font-size: 67px;
}
.description{
    font-size: 67px;
}
.humadity{
    font-size: 20px;
}
.wind{
    font-size: 20px;
}
.description{
    text-transform: capitalize;
}
.loading{
    visibility: hidden;
}
.insta{
    color: rgb(143, 23, 23);
    padding-top: 27px;
}